--
-- PostgreSQL database dump
--

\restrict I0ghJP4eLgwqWqbRYjkN6hveU23weWDhFZ13ya9SfiQWa5thDBxw76iNov6KTKB

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.9 (Debian 17.9-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Accounts" (
    "Id" integer NOT NULL,
    "Username" character varying(50) NOT NULL,
    "Email" character varying(255) NOT NULL,
    "PasswordHash" character varying(255) NOT NULL,
    "Role" character varying(50) NOT NULL,
    "FullName" character varying(100),
    "PhoneNumber" character varying(20),
    "AvatarUrl" text,
    "Status" character varying(20) DEFAULT 'Active'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastLoginAt" timestamp with time zone,
    "UpdatedAt" timestamp with time zone,
    "StudentId" integer,
    "LecturerId" integer
);


ALTER TABLE public."Accounts" OWNER TO postgres;

--
-- Name: Accounts_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Accounts" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Accounts_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Attendances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Attendances" (
    "Id" integer NOT NULL,
    "ExamId" integer NOT NULL,
    "StudentId" integer NOT NULL,
    "Status" text NOT NULL,
    "CheckInTime" timestamp with time zone,
    "CheckOutTime" timestamp with time zone,
    "Notes" text NOT NULL,
    "Violation" text NOT NULL,
    "RecordedAt" timestamp with time zone NOT NULL,
    "StudentConfirmed" boolean DEFAULT false NOT NULL,
    "StudentConfirmedAt" timestamp with time zone
);


ALTER TABLE public."Attendances" OWNER TO postgres;

--
-- Name: Attendances_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Attendances" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Attendances_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Classes" (
    "Id" integer NOT NULL,
    "ClassCode" character varying(20) NOT NULL,
    "ClassName" character varying(100) NOT NULL,
    "MajorId" integer NOT NULL,
    "CourseId" integer NOT NULL,
    "AcademicYear" character varying(20) NOT NULL,
    "Semester" integer NOT NULL,
    "StudentCount" integer NOT NULL,
    "Status" character varying(20) DEFAULT 'Active'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "Cohort" integer DEFAULT 0 NOT NULL,
    "CohortYear" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."Classes" OWNER TO postgres;

--
-- Name: Classes_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Classes" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Classes_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ExamRoomAllocations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExamRoomAllocations" (
    "Id" integer NOT NULL,
    "ExamId" integer NOT NULL,
    "StudentId" integer NOT NULL,
    "RoomId" integer NOT NULL,
    "SeatNumber" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."ExamRoomAllocations" OWNER TO postgres;

--
-- Name: ExamRoomAllocations_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."ExamRoomAllocations" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ExamRoomAllocations_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ExamRooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExamRooms" (
    "Id" integer NOT NULL,
    "RoomCode" text NOT NULL,
    "RoomName" text NOT NULL,
    "Building" text NOT NULL,
    "Capacity" integer NOT NULL,
    "Floor" text NOT NULL,
    "HasComputer" boolean NOT NULL,
    "HasProjector" boolean NOT NULL,
    "Status" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone
);


ALTER TABLE public."ExamRooms" OWNER TO postgres;

--
-- Name: ExamRooms_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."ExamRooms" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ExamRooms_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Exams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Exams" (
    "Id" integer NOT NULL,
    "ExamCode" character varying(20) NOT NULL,
    "ExamName" character varying(200) NOT NULL,
    "ExamType" character varying(50) NOT NULL,
    "SubjectId" integer NOT NULL,
    "ClassId" integer NOT NULL,
    "ExamDate" timestamp with time zone NOT NULL,
    "StartTime" interval NOT NULL,
    "EndTime" interval NOT NULL,
    "Duration" integer NOT NULL,
    "RoomId" integer NOT NULL,
    "AcademicYear" character varying(20) NOT NULL,
    "Semester" character varying(20) NOT NULL,
    "Status" character varying(20) DEFAULT 'Planned'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "CreatedBy" integer DEFAULT 0 NOT NULL,
    "Notes" text DEFAULT ''::character varying NOT NULL
);


ALTER TABLE public."Exams" OWNER TO postgres;

--
-- Name: Exams_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Exams" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Exams_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Lecturers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Lecturers" (
    "Id" integer NOT NULL,
    "EmployeeCode" character varying(20) NOT NULL,
    "FullName" character varying(100) NOT NULL,
    "DateOfBirth" timestamp with time zone NOT NULL,
    "Gender" text NOT NULL,
    "Email" character varying(100) NOT NULL,
    "PhoneNumber" character varying(20) NOT NULL,
    "Department" character varying(100) NOT NULL,
    "Position" text NOT NULL,
    "Status" character varying(20) DEFAULT 'Active'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone
);


ALTER TABLE public."Lecturers" OWNER TO postgres;

--
-- Name: Lecturers_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Lecturers" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Lecturers_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Majors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Majors" (
    "Id" integer NOT NULL,
    "MajorCode" character varying(10) NOT NULL,
    "MajorName" character varying(100) NOT NULL,
    "MajorGroup" character varying(100) NOT NULL,
    "Status" character varying(20) DEFAULT 'Active'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone
);


ALTER TABLE public."Majors" OWNER TO postgres;

--
-- Name: Majors_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Majors" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Majors_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ProctorAssignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProctorAssignments" (
    "Id" integer NOT NULL,
    "ExamId" integer NOT NULL,
    "LecturerId" integer NOT NULL,
    "Role" text NOT NULL,
    "AssignedAt" timestamp with time zone NOT NULL,
    "Status" text NOT NULL,
    "Notes" text NOT NULL
);


ALTER TABLE public."ProctorAssignments" OWNER TO postgres;

--
-- Name: ProctorAssignments_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."ProctorAssignments" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ProctorAssignments_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: StudentSubjects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StudentSubjects" (
    "Id" integer NOT NULL,
    "StudentId" integer NOT NULL,
    "SubjectId" integer NOT NULL,
    "ClassId" integer,
    "AcademicYear" character varying(20) NOT NULL,
    "Semester" integer NOT NULL,
    "Status" character varying(20) NOT NULL,
    "TotalSessions" integer NOT NULL,
    "PresentSessions" integer NOT NULL,
    "AbsentSessions" integer NOT NULL,
    "Grade" numeric,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "TermId" integer NOT NULL
);


ALTER TABLE public."StudentSubjects" OWNER TO postgres;

--
-- Name: StudentSubjects_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."StudentSubjects" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."StudentSubjects_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Students" (
    "Id" integer NOT NULL,
    "StudentCode" character varying(20) NOT NULL,
    "FullName" character varying(100) NOT NULL,
    "DateOfBirth" timestamp with time zone NOT NULL,
    "Gender" text NOT NULL,
    "Email" character varying(100) NOT NULL,
    "PhoneNumber" character varying(20) NOT NULL,
    "Address" text NOT NULL,
    "ClassId" integer NOT NULL,
    "Status" character varying(20) DEFAULT 'Active'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone
);


ALTER TABLE public."Students" OWNER TO postgres;

--
-- Name: Students_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Students" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Students_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Subjects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subjects" (
    "Id" integer NOT NULL,
    "SubjectCode" character varying(20) NOT NULL,
    "SubjectName" character varying(200) NOT NULL,
    "Credits" integer NOT NULL,
    "TheoryHours" integer NOT NULL,
    "PracticeHours" integer NOT NULL,
    "Department" text NOT NULL,
    "SubjectType" character varying(50) NOT NULL,
    "Status" character varying(20) DEFAULT 'Active'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "MinFinalScore" numeric,
    "MinPracticalScore" numeric
);


ALTER TABLE public."Subjects" OWNER TO postgres;

--
-- Name: Subjects_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Subjects" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Subjects_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: TeachingAssignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TeachingAssignments" (
    "Id" integer NOT NULL,
    "LecturerId" integer NOT NULL,
    "SubjectId" integer NOT NULL,
    "ClassId" integer NOT NULL,
    "AcademicYear" character varying(20) NOT NULL,
    "Semester" character varying(20) NOT NULL,
    "Status" character varying(20) DEFAULT 'Active'::character varying NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone
);


ALTER TABLE public."TeachingAssignments" OWNER TO postgres;

--
-- Name: TeachingAssignments_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."TeachingAssignments" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."TeachingAssignments_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Terms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Terms" (
    "Id" integer NOT NULL,
    "Code" character varying(20) NOT NULL,
    "Name" character varying(100) NOT NULL,
    "StartDate" timestamp with time zone NOT NULL,
    "EndDate" timestamp with time zone NOT NULL,
    "IsCurrent" boolean DEFAULT false NOT NULL,
    "CreatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public."Terms" OWNER TO postgres;

--
-- Name: Terms_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Terms_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Terms_Id_seq" OWNER TO postgres;

--
-- Name: Terms_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Terms_Id_seq" OWNED BY public."Terms"."Id";


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Name: Terms Id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Terms" ALTER COLUMN "Id" SET DEFAULT nextval('public."Terms_Id_seq"'::regclass);


--
-- Name: Accounts PK_Accounts; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Accounts"
    ADD CONSTRAINT "PK_Accounts" PRIMARY KEY ("Id");


--
-- Name: Attendances PK_Attendances; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendances"
    ADD CONSTRAINT "PK_Attendances" PRIMARY KEY ("Id");


--
-- Name: Classes PK_Classes; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Classes"
    ADD CONSTRAINT "PK_Classes" PRIMARY KEY ("Id");


--
-- Name: ExamRoomAllocations PK_ExamRoomAllocations; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamRoomAllocations"
    ADD CONSTRAINT "PK_ExamRoomAllocations" PRIMARY KEY ("Id");


--
-- Name: ExamRooms PK_ExamRooms; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamRooms"
    ADD CONSTRAINT "PK_ExamRooms" PRIMARY KEY ("Id");


--
-- Name: Exams PK_Exams; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Exams"
    ADD CONSTRAINT "PK_Exams" PRIMARY KEY ("Id");


--
-- Name: Lecturers PK_Lecturers; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lecturers"
    ADD CONSTRAINT "PK_Lecturers" PRIMARY KEY ("Id");


--
-- Name: Majors PK_Majors; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Majors"
    ADD CONSTRAINT "PK_Majors" PRIMARY KEY ("Id");


--
-- Name: ProctorAssignments PK_ProctorAssignments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProctorAssignments"
    ADD CONSTRAINT "PK_ProctorAssignments" PRIMARY KEY ("Id");


--
-- Name: StudentSubjects PK_StudentSubjects; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentSubjects"
    ADD CONSTRAINT "PK_StudentSubjects" PRIMARY KEY ("Id");


--
-- Name: Students PK_Students; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Students"
    ADD CONSTRAINT "PK_Students" PRIMARY KEY ("Id");


--
-- Name: Subjects PK_Subjects; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subjects"
    ADD CONSTRAINT "PK_Subjects" PRIMARY KEY ("Id");


--
-- Name: TeachingAssignments PK_TeachingAssignments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeachingAssignments"
    ADD CONSTRAINT "PK_TeachingAssignments" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: Terms Terms_Code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Terms"
    ADD CONSTRAINT "Terms_Code_key" UNIQUE ("Code");


--
-- Name: Terms Terms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Terms"
    ADD CONSTRAINT "Terms_pkey" PRIMARY KEY ("Id");


--
-- Name: IX_Accounts_Email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Accounts_Email" ON public."Accounts" USING btree ("Email");


--
-- Name: IX_Accounts_LecturerId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Accounts_LecturerId" ON public."Accounts" USING btree ("LecturerId");


--
-- Name: IX_Accounts_StudentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Accounts_StudentId" ON public."Accounts" USING btree ("StudentId");


--
-- Name: IX_Accounts_Username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Accounts_Username" ON public."Accounts" USING btree ("Username");


--
-- Name: IX_Classes_ClassCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Classes_ClassCode" ON public."Classes" USING btree ("ClassCode");


--
-- Name: IX_Classes_MajorId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Classes_MajorId" ON public."Classes" USING btree ("MajorId");


--
-- Name: IX_ExamRoomAllocations_ExamId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExamRoomAllocations_ExamId" ON public."ExamRoomAllocations" USING btree ("ExamId");


--
-- Name: IX_ExamRoomAllocations_ExamId_StudentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_ExamRoomAllocations_ExamId_StudentId" ON public."ExamRoomAllocations" USING btree ("ExamId", "StudentId");


--
-- Name: IX_ExamRoomAllocations_RoomId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExamRoomAllocations_RoomId" ON public."ExamRoomAllocations" USING btree ("RoomId");


--
-- Name: IX_ExamRoomAllocations_RoomId_SeatNumber; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExamRoomAllocations_RoomId_SeatNumber" ON public."ExamRoomAllocations" USING btree ("RoomId");


--
-- Name: IX_ExamRoomAllocations_StudentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExamRoomAllocations_StudentId" ON public."ExamRoomAllocations" USING btree ("StudentId");


--
-- Name: IX_Exams_ExamCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Exams_ExamCode" ON public."Exams" USING btree ("ExamCode");


--
-- Name: IX_Lecturers_EmployeeCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Lecturers_EmployeeCode" ON public."Lecturers" USING btree ("EmployeeCode");


--
-- Name: IX_Majors_MajorCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Majors_MajorCode" ON public."Majors" USING btree ("MajorCode");


--
-- Name: IX_StudentSubjects_ClassId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_StudentSubjects_ClassId" ON public."StudentSubjects" USING btree ("ClassId");


--
-- Name: IX_StudentSubjects_StudentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_StudentSubjects_StudentId" ON public."StudentSubjects" USING btree ("StudentId");


--
-- Name: IX_StudentSubjects_StudentId_SubjectId_TermId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_StudentSubjects_StudentId_SubjectId_TermId" ON public."StudentSubjects" USING btree ("StudentId", "SubjectId", "TermId");


--
-- Name: IX_StudentSubjects_SubjectId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_StudentSubjects_SubjectId" ON public."StudentSubjects" USING btree ("SubjectId");


--
-- Name: IX_StudentSubjects_TermId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_StudentSubjects_TermId" ON public."StudentSubjects" USING btree ("TermId");


--
-- Name: IX_Students_StudentCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Students_StudentCode" ON public."Students" USING btree ("StudentCode");


--
-- Name: IX_Subjects_SubjectCode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Subjects_SubjectCode" ON public."Subjects" USING btree ("SubjectCode");


--
-- Name: IX_TeachingAssignments_LecturerId_SubjectId_ClassId_AcademicYea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_TeachingAssignments_LecturerId_SubjectId_ClassId_AcademicYea" ON public."TeachingAssignments" USING btree ("LecturerId", "SubjectId", "ClassId", "AcademicYear", "Semester");


--
-- Name: Accounts FK_Accounts_Lecturers_LecturerId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Accounts"
    ADD CONSTRAINT "FK_Accounts_Lecturers_LecturerId" FOREIGN KEY ("LecturerId") REFERENCES public."Lecturers"("Id") ON DELETE SET NULL;


--
-- Name: Accounts FK_Accounts_Students_StudentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Accounts"
    ADD CONSTRAINT "FK_Accounts_Students_StudentId" FOREIGN KEY ("StudentId") REFERENCES public."Students"("Id") ON DELETE SET NULL;


--
-- Name: Classes FK_Classes_Majors_MajorId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Classes"
    ADD CONSTRAINT "FK_Classes_Majors_MajorId" FOREIGN KEY ("MajorId") REFERENCES public."Majors"("Id") ON DELETE CASCADE;


--
-- Name: ExamRoomAllocations FK_ExamRoomAllocations_ExamRooms_RoomId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamRoomAllocations"
    ADD CONSTRAINT "FK_ExamRoomAllocations_ExamRooms_RoomId" FOREIGN KEY ("RoomId") REFERENCES public."ExamRooms"("Id") ON DELETE CASCADE;


--
-- Name: ExamRoomAllocations FK_ExamRoomAllocations_Exams_ExamId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamRoomAllocations"
    ADD CONSTRAINT "FK_ExamRoomAllocations_Exams_ExamId" FOREIGN KEY ("ExamId") REFERENCES public."Exams"("Id") ON DELETE CASCADE;


--
-- Name: ExamRoomAllocations FK_ExamRoomAllocations_Students_StudentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExamRoomAllocations"
    ADD CONSTRAINT "FK_ExamRoomAllocations_Students_StudentId" FOREIGN KEY ("StudentId") REFERENCES public."Students"("Id") ON DELETE CASCADE;


--
-- Name: StudentSubjects FK_StudentSubjects_Classes_ClassId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentSubjects"
    ADD CONSTRAINT "FK_StudentSubjects_Classes_ClassId" FOREIGN KEY ("ClassId") REFERENCES public."Classes"("Id") ON DELETE SET NULL;


--
-- Name: StudentSubjects FK_StudentSubjects_Students_StudentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentSubjects"
    ADD CONSTRAINT "FK_StudentSubjects_Students_StudentId" FOREIGN KEY ("StudentId") REFERENCES public."Students"("Id") ON DELETE CASCADE;


--
-- Name: StudentSubjects FK_StudentSubjects_Subjects_SubjectId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentSubjects"
    ADD CONSTRAINT "FK_StudentSubjects_Subjects_SubjectId" FOREIGN KEY ("SubjectId") REFERENCES public."Subjects"("Id") ON DELETE RESTRICT;


--
-- Name: StudentSubjects FK_StudentSubjects_Terms_TermId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StudentSubjects"
    ADD CONSTRAINT "FK_StudentSubjects_Terms_TermId" FOREIGN KEY ("TermId") REFERENCES public."Terms"("Id") ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO postgres;
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;


--
-- Name: TABLE "Accounts"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Accounts" TO anon;
GRANT ALL ON TABLE public."Accounts" TO authenticated;
GRANT ALL ON TABLE public."Accounts" TO service_role;


--
-- Name: SEQUENCE "Accounts_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."Accounts_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."Accounts_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."Accounts_Id_seq" TO service_role;


--
-- Name: TABLE "Attendances"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Attendances" TO anon;
GRANT ALL ON TABLE public."Attendances" TO authenticated;
GRANT ALL ON TABLE public."Attendances" TO service_role;


--
-- Name: SEQUENCE "Attendances_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."Attendances_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."Attendances_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."Attendances_Id_seq" TO service_role;


--
-- Name: TABLE "Classes"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Classes" TO anon;
GRANT ALL ON TABLE public."Classes" TO authenticated;
GRANT ALL ON TABLE public."Classes" TO service_role;


--
-- Name: SEQUENCE "Classes_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."Classes_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."Classes_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."Classes_Id_seq" TO service_role;


--
-- Name: TABLE "ExamRoomAllocations"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."ExamRoomAllocations" TO anon;
GRANT ALL ON TABLE public."ExamRoomAllocations" TO authenticated;
GRANT ALL ON TABLE public."ExamRoomAllocations" TO service_role;


--
-- Name: SEQUENCE "ExamRoomAllocations_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."ExamRoomAllocations_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."ExamRoomAllocations_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."ExamRoomAllocations_Id_seq" TO service_role;


--
-- Name: TABLE "ExamRooms"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."ExamRooms" TO anon;
GRANT ALL ON TABLE public."ExamRooms" TO authenticated;
GRANT ALL ON TABLE public."ExamRooms" TO service_role;


--
-- Name: SEQUENCE "ExamRooms_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."ExamRooms_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."ExamRooms_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."ExamRooms_Id_seq" TO service_role;


--
-- Name: TABLE "Exams"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Exams" TO anon;
GRANT ALL ON TABLE public."Exams" TO authenticated;
GRANT ALL ON TABLE public."Exams" TO service_role;


--
-- Name: SEQUENCE "Exams_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."Exams_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."Exams_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."Exams_Id_seq" TO service_role;


--
-- Name: TABLE "Lecturers"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Lecturers" TO anon;
GRANT ALL ON TABLE public."Lecturers" TO authenticated;
GRANT ALL ON TABLE public."Lecturers" TO service_role;


--
-- Name: SEQUENCE "Lecturers_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."Lecturers_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."Lecturers_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."Lecturers_Id_seq" TO service_role;


--
-- Name: TABLE "Majors"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Majors" TO anon;
GRANT ALL ON TABLE public."Majors" TO authenticated;
GRANT ALL ON TABLE public."Majors" TO service_role;


--
-- Name: SEQUENCE "Majors_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."Majors_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."Majors_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."Majors_Id_seq" TO service_role;


--
-- Name: TABLE "ProctorAssignments"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."ProctorAssignments" TO anon;
GRANT ALL ON TABLE public."ProctorAssignments" TO authenticated;
GRANT ALL ON TABLE public."ProctorAssignments" TO service_role;


--
-- Name: SEQUENCE "ProctorAssignments_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."ProctorAssignments_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."ProctorAssignments_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."ProctorAssignments_Id_seq" TO service_role;


--
-- Name: TABLE "StudentSubjects"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."StudentSubjects" TO anon;
GRANT ALL ON TABLE public."StudentSubjects" TO authenticated;
GRANT ALL ON TABLE public."StudentSubjects" TO service_role;


--
-- Name: SEQUENCE "StudentSubjects_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."StudentSubjects_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."StudentSubjects_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."StudentSubjects_Id_seq" TO service_role;


--
-- Name: TABLE "Students"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Students" TO anon;
GRANT ALL ON TABLE public."Students" TO authenticated;
GRANT ALL ON TABLE public."Students" TO service_role;


--
-- Name: SEQUENCE "Students_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."Students_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."Students_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."Students_Id_seq" TO service_role;


--
-- Name: TABLE "Subjects"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Subjects" TO anon;
GRANT ALL ON TABLE public."Subjects" TO authenticated;
GRANT ALL ON TABLE public."Subjects" TO service_role;


--
-- Name: SEQUENCE "Subjects_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."Subjects_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."Subjects_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."Subjects_Id_seq" TO service_role;


--
-- Name: TABLE "TeachingAssignments"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."TeachingAssignments" TO anon;
GRANT ALL ON TABLE public."TeachingAssignments" TO authenticated;
GRANT ALL ON TABLE public."TeachingAssignments" TO service_role;


--
-- Name: SEQUENCE "TeachingAssignments_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."TeachingAssignments_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."TeachingAssignments_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."TeachingAssignments_Id_seq" TO service_role;


--
-- Name: TABLE "Terms"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."Terms" TO anon;
GRANT ALL ON TABLE public."Terms" TO authenticated;
GRANT ALL ON TABLE public."Terms" TO service_role;


--
-- Name: SEQUENCE "Terms_Id_seq"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public."Terms_Id_seq" TO anon;
GRANT ALL ON SEQUENCE public."Terms_Id_seq" TO authenticated;
GRANT ALL ON SEQUENCE public."Terms_Id_seq" TO service_role;


--
-- Name: TABLE "__EFMigrationsHistory"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."__EFMigrationsHistory" TO anon;
GRANT ALL ON TABLE public."__EFMigrationsHistory" TO authenticated;
GRANT ALL ON TABLE public."__EFMigrationsHistory" TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- PostgreSQL database dump complete
--

\unrestrict I0ghJP4eLgwqWqbRYjkN6hveU23weWDhFZ13ya9SfiQWa5thDBxw76iNov6KTKB

